
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HelloWorld</title>
    <script src="~/react-15.3.2/build/react.js"></script>
    <script src="~/react-15.3.2/build/react-dom.js"></script>
    <script src="~/react-15.3.2/build/browser.min.js"></script>
    <script type="text/babel" src="/src/helloworld.js">
    </script>
</head>
<body>
<div>
    <div id="example"></div>
</div>
</body>
</html>
