<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>React Tutorial</title>
    <script src="~/react-15.3.2/build/react.js"></script>
    <script src="~/react-15.3.2/build/react-dom.js"></script>
    <script src="~/react-15.3.2/build/browser.min.js"></script>
 
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://unpkg.com/remarkable@1.6.2/dist/remarkable.min.js"></script>
</head>
<body>
    <div id="content"></div>
    <script type="text/babel" src="scripts/example.js">
    </script>
    <script type="text/babel">
        // To get started with this tutorial running your own code, simply remove
        // the script tag loading scripts/example.js and start writing code here.
    </script>
</body>
</html>