
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Index</title>
</head>
<body>
<div>
    <section id="react"></section>
    <script src="bundle.js"></script>
</div>
</body>
</html>
